// Utilities file! I'm adding lotsa variables for this exercise.

// Colors! 
$backgroundColor: rgb(241, 241, 241);
$linkText: #1D766F;
$linkHover: #BC2F36;
$textShadow: rgba(255, 255, 255, 0.25);
$contentBackground: #fff;


 // Fonts!
$title: 'Audiowide', cursive;
$headings: 'Quicksand', sans-serif;
$bodyText: 'Lato', Arial, sans-serif;

$defaultFontSize: 16px;


 // Layout 
$centered: 0 auto;
$layoutWidth: 960px;
$headerWidth: $layoutWidth - 20px;
$navWidth: $layoutWidth/4;
