// Utilities file! I'm adding lotsa variables for this exercise.

// Colors! 
  background-color: rgb(241, 241, 241);
a {
  color: #1D766F;

  a:hover {
  color: #BC2F36;
}
  text-shadow: 2px 2px rgba(255, 255, 255, 0.25);
  background-color: rgb(60, 60, 60);
  color: #FFF;


 // Fonts!
  font-family: 'Quicksand', sans-serif;
 